<div class="profile-section">
  <div class="header">
    <div class="pb">
      <img class="avatar" alt="pbecchetti-avatar" src="assets/img/avatar.png" />
    </div>
    <div class="resume">Download my resume</div>
  </div>
  <div class="myself">
    <div class="name-job">
      <h1>Pauline Becchetti</h1>
      <h2>Web Developer</h2>
      <button type="button" class="btn btn-primary">
        <a href="assets/PBecchetti_resume2021.pdf" target="_blank"
          >My resume
        </a>
      </button>
    </div>
    <div class="profile">khfhdndsji</div>
  </div>
</div>
